/*@import url(https://vit-1.github.io/hobby/navigate/css/001winter/winter.css");*/
@import url(https://vit-1.github.io/hobby/navigate/css/002summer/summer.css");
/*
#jbtns_head a{text-decoration:none}
#jbtns_head span{line-height:1em;display:block}
#lcss,#rcss{
width:0;
height:0;
overflow:hidden;
border-style:solid;
line-height:0;
display:block;
padding:0;
margin:0;
}
#lcss,#rcss,#jbtns_head span{float:left;margin-left:0.5em}
#rcss{border-width:0.5em 0 0.5em 1em;border-color:#FFF #FFF #FFF #CCC}
#rcss:hover{border-color:#FFF #FFF #FFF #FB2}
#lcss{border-width:0.5em 1em 0.5em 0;border-color:#FFF #CCC #FFF #FFF}
#lcss:hover{border-color:#FFF #FB2 #FFF #FFF}
*/