@import url('../karkas.css');
@import url('../font.css');
body{background:#FFF url(../clouds.gif) repeat-x 120px 10px;color:black}
#SiteName{background:url(strees.gif) repeat-x bottom}
#SiteName span{background-position:left bottom;background-repeat:no-repeat;
background-image:url(smain.gif);color:#FB2;font-weight:bold}
.roadline,#pages,#prvhtm,#nxthtm{background:#BD4}
.roadline li{color:#999;font-weight:bold}
.roadline li,#maincontent{background:#DEB}
.roadline #biker{background:transparent url(../biker.gif)}
.roadline li.current,#pages .current{background:#8A1;color:#FFF}
.roadline li.current a,#findcmd{color:#FFF}
.jbtnstext,#maincontent H2,#maincontent H3,#maincontent img,
table caption{color:#8A1}
#fontsize A{color:#00F}
#maincontent,#maincontent img,#footerrow{border-color:#BD4}
#maincontent H2{border-color:#8A1}
#maincontent img,#findtext{background:#FFF}
#maincontent code{background:#EFC}
#findcmd{background:#00F}
#maincontent .stih{background:url(sleafs.gif) no-repeat left top}
/*A:link{color:darkred}A:hover{color:red}A:visited{color:#666}
#backpict{background-image:url(hobbyfon2.gif)}*/